@model IEnumerable<MovieWeb.Data.Entities.Person>

@{
    ViewData["Title"] = "Index";
}


    <div class="container">
        <h1>Movie cast members</h1>
        <div class="row">
            <div class="col-12 col-md-12">
                <a asp-action="Create" class="btn btn-success m-3" style="float:right">
                    <i class="fas fa-plus"></i> Create
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PersonName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Biography)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlaceOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfDeath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IMDBPersonLink)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PersonName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Biography)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfDeath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IMDBPersonLink)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PersonID" class="btn btn-primary "><i class="fas fa-edit"></i> Edit</a>
                            <a asp-action="Details" asp-route-id="@item.PersonID" class="btn btn-info "><i class="fas fa-info-circle"></i> Details</a>
                            <a asp-action="Delete" asp-route-id="@item.PersonID" class="btn btn-danger "><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>