@model MovieWeb.Models.MovieViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <img src="~/images/@Html.DisplayFor(model => model.MoviePosterURL)" class="img-fluid" />
        </div>
        <div class="details col-md-8">
            <div class="movie-title movie-title-details pb-2">@Html.DisplayFor(model => model.MovieTitle)</div>
            <h6>Release Date:       <span>@Html.DisplayFor(model => model.ReleaseDate)  </span></h6>
            <h6>Runtime:            <span>@Html.DisplayFor(model => model.Runtime)      </span></h6>
            <h6>Movie Rating:       <span>@Html.DisplayFor(model => model.MovieRating)  </span></h6>
            <h6>
                Genres:         @foreach (var item in Model.SelectedGenres)
                {
                    <span>@item </span>;
                }
            </h6>
            <h6>
                Directed by:    @foreach (var item in Model.SelectedDirectors)
                {
                    <span>@item, </span>;
                }
            </h6>
            <h6>
                Writers:        @foreach (var item in Model.SelectedWriters)
                {
                    <span>@item, </span>;
                }
            </h6>
            <h6>
                Actors:        @foreach (var item in Model.SelectedActors)
                {
                    <span>@item, </span>;
                }
            </h6>
            <h6>Summary:            <span>@Html.DisplayFor(model => model.Summary)      </span></h6>
            <h6>Movie Price:        <span>@Html.DisplayFor(model => model.MoviePrice)   </span></h6>
            <a href="@Model.IMDBLink" class="imdb-logo" target="_blank">IMDb</a>
        </div>


        <div class="col-md-4">
            <br />
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-block btn-primary"><i class="fas fa-edit"></i>Edit</a>
            <a asp-action="Index" class="btn btn-block btn-success"><i class="fas fa-arrow-alt-circle-left"></i>Back to List</a>
        </div>
    </div>
</div>